<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Recipe for group</title>
</head>
<body>
    <dl>
        <dt><h3>Recipe {{ name.upper }}</h3></dt>
        <div class="entry number of persons">
            <form>
                <p>Cooking the dish for<input type="text" name="servings" size="3" value="{{servings}}">persons</p>
            </form>
        </div>
        <dd>
            <table>
                <tr>
                    <th>Ingragients</th>
                    <th>Amount</th>
                </tr>
                {% for ingredient, amount in recipe.items %}
                <tr>
                    <td>{{ ingredient }}</td>
                    <td>{{ amount }}</td>
                </tr>
                {% endfor %}
            </table>
            <form action="{{ to_home }}">
            <button>Back to recipes</button>
            </form>
        </dd>
    </dl>
</body>
</html>
